@import '../../styles/index.css';
@import '../../components/Navigation/Navigation.css';
@import '../../components/Footer/Footer.css';


/* *{
    box-sizing: border-box;
} */

.content{
    background-color: black ;
    background-image: url(./matrix.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* color: var(--text-color-main);
    display: flex;
    max-width: 100vw;
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
    height: 100%;
    display: flex; */
}

