.terminal {
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    overflow-y:auto;
}

#terminal__container{
    max-height: 40%;
    width: 100%;
    height: 100%;
}

.history-command{
    word-break: break-word;
}

.history-output{
    word-break: break-all;
    white-space: pre-wrap;
}

.command-line{
    outline: none;
    caret-color: transparent;
}

.prompt {
    color: lime; 
}

.caret-block {
    background-color: white;
    color: black;
    animation: blink 2s steps(1,end) infinite;
    animation-delay: 0.5s;
    /* safari solutions */
    min-width: 1px;
    display: inline-block;
    white-space: pre;
}


@keyframes blink {
    0%, 50%{
        background-color: white;
        color: black;
    }
    25%, 75%{
        background-color: transparent;
        color: white;
    }
}
