@import url('../../styles/index.css');
@import url('../../components/Navigation/Navigation.css');

*{
    color: var(--text-color-main);
}

.layout{
    display: flex;
    max-width: 100vw;
    width: 100vw;
}

.dashboard__container{
    max-width: 100vw;
    flex: 1;
    margin-top: var(--spce-med);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spce-med);
}


.dashboard__cards{
    width: 100%;
    max-width: 100%;
    overflow: clip;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(326px,0.8fr));
    justify-content: center;
    gap: var(--spce-lg);
    padding: 0 var(--spce-lg) 0 var(--spce-lg);
}

.dashboard__column{
    display: flex;
    flex-direction: column;
    gap: var(--spce-lg);

}

.greeting__text{
    font-size: var(--text-size-2xl);
}

.dashboard__card{
    border: solid var(--border-base);
    border-radius: var(--radius-med);
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;
    /* min-width: 362px; */
    height: fit-content;
    padding: var(--spce-med);
}

.card__content{
    padding: var(--spce-xsm)var(--spce-med)var(--spce-xsm)var(--spce-med);
    flex: 1;
    display: flex;
    flex-direction: column;
}


.card__title{
    font-weight: 600;
    font-size: var(--text-size-lg);
}

.card__ul{
    list-style: none;
}

.card__subtitle a{
    font-size: var(--text-size-lg);
    color: var(--text-color-secondary);
}

.card__text{
    color: var(--text-color-secondary);
    font-size: var(--text-size-base);
}


.card__message{
    color: var(--text-color-main);
    text-align: center;
    font-size: var(--text-size-xl);
    margin-top: var(--spce-med);
    margin-bottom: var(--spce-med);
}

.card__button{
    width: 100%;
    margin-top: var(--spce-med);
}


.dashboard__card--progress{
    min-height: 316px;
}

.card__content--progress{
    display: flex;
    flex-direction: column;
    gap: var(--spce-xsm);
    justify-content: center;
    align-items: center;
    flex:1;
}

.card__progress-bar{
    font-family:'Fira Code', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card__link:hover{
    text-decoration: underline;
}


@media (min-width:768px){

    .sidebar__placeholder{
        width: var(--sidebar-width);
        height: 100%;
    }

    .sidebar{
        transform: translate(0);
        box-shadow: none;
    }

    .sidebar__button--close{
        display: none;
    }

    .navbar__right{
        display: none;
    }
}