@import '../../styles/index.css';
@import './termC/term.css';
@import '../../components/NavigationLesson/NavigationLesson.css';



:root{
    --nav-height-lesson: 50px;
    --color-background-dark: rgb(40, 52, 73);
    --color-overlay-full: #394252;
    --color-background-highlight: #1c2a42;
    --color-background-highlight-half: #1c2a4258;
}

html{
    scroll-behavior: smooth;
}

.layout{
    background-color: var(--color-background);
    color: var(--text-color-main);
    display: flex;
    flex-direction: column;
    max-height: 100vw;
    height: 100%;
    max-height: 100vh;
    height: 100vh;
}



code{
    font-family: monospace;
    display: block;
    padding: var(--spce-sm);
    border-radius: var(--radius-sm);
    background-color: var(--color-overlay);
}
/* SIDEBAR STYLE */
.sidebar__button--open{
    background-color: transparent;
}

/* ======================== */
/* LESSON SECTION STYLING */
/* ======================== */
.section--lesson{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-dark);
    min-height: 65%;
    position: relative;
}

.overlay__container{
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay--success{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-popup{
    animation: overlay-popup .25s ease;
}

.overlay-fadeout{
    animation: overlay-fadeout 1s ease;
}

@keyframes overlay-popup{
    from{
        /* opacity: 0; */
        transform: scaley(0);
    }
    to{
        /* opacity: 1; */
        transform: scaley(1);
    }
}
@keyframes overlay-fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


/* TOP styling */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spce-lg);
    height: var(--nav-height-lesson);
}


.top__sidebar{
    border: none;
    background-color: transparent;
}

/* DROPDOWN STYLES */
.dropdown__container{
    position: relative;
    z-index: 1;
}

.dropdown{
    position: absolute;
    min-width: 120px;
    max-width: fit-content;
    background-color: var(--color-background-dark);
    border-radius: var(--radius-med);
    border: var(--border-base) var(--color-secondary) solid;
}


.dropdown__button{
    background-color: transparent;
    border: none;
    border-radius: var(--radius-med);
    color: var(--text-color-main);
    width: 100%;
    text-align: start;
}

.dropdown__buttons{
    list-style-type: none;
    font-size: var(--text-size-lg);
    display: flex;
    flex-direction: column;
    padding: var(--spce-sm);
    /* justify-content: stretch;
    align-items: stretch; */
}

.dropdown__button li{
    display: flex;
}

.dropdown__button:hover{
    background-color: var(--color-background-light);
    padding: var(--spce-xsm);
}
.dropdown__button--open{
    padding: var(--spce-xsm);
}

/* LESSON NAVIGATION STYLES */
.lesson__nav{
    flex: 1;
    position: relative;
    z-index: 1;
    min-width: 0px;
    max-width: 300px;
    margin: 0 var(--spce-lg) 0 var(--spce-lg);
}

.lesson__nav__button--open{
    background-color: var(--color-overlay-full);
    color: var(--text-color-main);
    border: none;
    border-radius: var(--radius-sm);
    padding: var(--spce-xsm);
    max-width: 100%;
    width: 100%;
}

.lesson__nav__button--open span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.lesson__nav__subtitle{
    background-color: var(--color-background-highlight);
    padding: var(--spce-xsm);
    padding-left: var(--spce-sm);
    position: sticky;
    top: 0;
}


.lesson__nav__dropdown{
    position: absolute;
    z-index: 2;
    background-color: var(--color-overlay-half);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: fit-content;
    max-height: calc(40vh);
    box-shadow: 1px 1px 10px black;
    border-radius: var(--radius-sm);
    overflow-y: overlay;
    overflow-y: auto;
    scrollbar-color: rgba(0,0,0,0.25) transparent;
    font-size: var(--text-size-s);
}

.lesson__nav__button{
    background-color: var(--color-background-highlight-half);
    border: none;
    border-radius: var(--radius-sm);
    color: var(--text-color-main);
    padding: var(--spce-xsm);
    padding-left: var(--spce-med);
    width: 100%;
    text-align: start;
}

.lesson__nav__button:hover, .lesson__nav__button--open:hover{
    box-shadow: inset 100px 100px rgba(255, 255, 255, 0.121);
}


.lesson__nav__links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.lesson__nav__lesson{
    background-color: transparent;
    width: 100%;
}

.active{
    background-color: var(--color-highlight);
}

/* LESSON STYLES */
.lesson{
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    width: min(600px,100%);
    align-self: center;
    padding: 0 var(--spce-lg);
}


.lesson__content *{
    line-height: var(--text-line-height);
    margin: var(--spce-sm) 0;
}



.svg{
    height: 2rem;
}

.lesson__status{
    height: 3rem;
}

.util__container{
    margin-top: auto;
}

/* ================================= */
/* question styling */
/* ================================= */

.question__container{
    background-color: var(--color-overlay);
    padding: var(--spce-sm);
    border-radius: var(--radius-med);
    display: flex;
    flex-direction: column;
}

.question__container--correct{
    pointer-events: none;
    opacity: 0.7;
}

.question__button{
    color: var(--text-color-main);
    background-color: transparent;
    margin: 0;
    border: none;
    border-radius: var(--radius-sm);
    padding: var(--spce-xsm);
    display: flex;
    gap: var(--spce-lg);
    transition: transform 0.2s ease;
}

.question__button:hover{
    background-color: rgba(255, 255, 255, 0.089);
    transform: scale(1.02);
}

.question__button:active{
    background-color: rgba(0, 0, 0, 0.158);
    transform:scale(0.98);
}

.question--wrong{
    outline: solid 2px red;
    pointer-events: none;
}

.question--correct{
    outline: solid 3px var(--color-highlight);
    transform: scale(1.02);
}



.animate-shake{
    animation: shake 0.3s ease-in-out alternate;
}


@keyframes shake{
    0%{
        transform: translateX(-2px);
    }
    25%{
        transform: translateX(1px);
    }
    50%{
        transform: translateX(-3px);
    }
    75%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(-1px);
    }
}




/* ================================= */
/* Progress Bar */
/* ================================= */
.progress-bar{
    margin: 0;
    padding: 0;
    height: 20px;
}

.progress-bar meter::-webkit-meter-bar{
    background: var(--color-secondary);
    border: none;
    height: 3px;
    width: 100vw;
}

.progress-bar meter::-webkit-meter-optimum-value{
    background-color: var(--color-highlight);
    border-radius: var(--radius-med);
}


/* LESSON UTIL */

.lesson__util{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spce-sm) var(--spce-lg);
    padding-top: 0;
}




/* EFFECTS */
.hidden{
    display: none;
}

/* ================================= */
/* MEDIA QUERY */
/* ================================= */

@media (min-width: 320px){
    .sidebar{
        /* background-color: blue; */
        max-width: 300px;
    }
}

@media (min-width: 769px){
    .layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section--lesson{
        display: grid;
        gap: 0;
        max-height: 100vh;
        height: 100%;
        grid-template-rows: 50px  5fr ;
    }
    .top{
        grid-row: 1 / 2;
        border-bottom: solid var(--border-base) var(--color-secondary);
    }
    .lesson{
        display: flex;
        flex-direction: column;
        width: min(600px,100%);
        overflow-y: auto;
        margin-top: var(--spce-lg); 
        justify-self: center;
        font-size: var(--text-size-lg);
        height: 90%;
        grid-row: 2/3;
    }

    .progress-bar meter::-webkit-meter-bar{
        width: 50vw;
    }

    #terminal__container{
        max-height: 100vh;
        width: 100%;
    }

    .terminal{
        max-width: 50vw;
        max-height: 100vh;
        width: 100%;
    }
    
}

