@import '../normalize.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-background: #313538;
    --color-background: #333c44;
    --color-background-light: #ffffff13;
    --color-highlight: #309e42;
    --color-inactive: #8b8c8d;
    --color-overlay: #000000c7;

    --text-color-main: rgba(255, 255, 255, 0.95);

    --text-size-s: 0.875rem;
    --text-size-base: 1rem;
    --text-size-lg: 1.25rem;

    --spce-sm: 0.625rem;
    --spce-med: 1.0625rem;
    --spce-xmed: 1.5rem;
    --spce-lg: 1.875rem;

    --spce-pad-base: 0.5rem;
    
    --radius-med: 10px;
    --blur-base: 3px;
}

html{
    scroll-behavior: smooth;
}

.layout{
    background-color: var(--color-background);
    color: var(--text-color-main);
    display: flex;
    flex-direction: column;
    gap: var(--spce-sm);
}


code{
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 5px;
    padding: var(--spce-pad-base);
    color: var(--text-color-main);
    font-size: var(--text-size-xs);

}
/* SIDEBAR STYLE */
.sidebar{
    position:fixed ;
    top: 0;
    background-color: var(--color-overlay);
    color: var(--text-color-main);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    backdrop-filter: blur(4px);
}


/* TOP styling */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spce-lg);
    height: 50px;
}

.top__sidebar{
    border: none;
    background-color: transparent;
}

/* LESSON STYLES */
.lesson{
    position: relative;
    padding: var(--spce-sm) var(--spce-lg);
    margin: 0 var(--spce-lg);
    font-size: var(--text-size-base);
    overflow: scroll;
    height: 40vh;
    background-color: var(--color-background-light);
    border-radius: var(--radius-med);
}


.lesson__content *{
    margin: var(--spce-sm) 0;
    line-height: var(--spce-xmed);
}


.svg{
    height: 2rem;
}

.lesson__status{
    height: 3rem;
}

/* PROG BAR */
.progress-bar meter::-webkit-meter-bar{
    background: var(--color-inactive);
    height: 3px;
    border: none;
    width: 100vw;
    border-radius: 1000px;
}
.progress-bar meter::-webkit-meter-optimum-value{
    background-color: var(--color-highlight);
    border-radius: var(--radius-med);
}


/* LESSON UTIL */
.lesson__util{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spce-lg);
}

.lesson__button{
    color: var(--text-color-main);
    
    background-color: var(--color-highlight);
    border: none;
    border-radius: var(--radius-med);
    padding: var(--spce-sm);
}


/* TERMINAL */
.terminal{
    background-color: black;
    color: white;
    font-size: var(--text-size-base);
    font-family: monospace;
    /* height: calc(100vh - 40vh - 100px); */
    height: 50vh;
}

.green{
    color: limegreen;
}

.caret{
    background-color: white;
    white-space: pre;
    min-width: 10px;
}