
.animation--popup{
    animation: popup 0.7s ease;
}

@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(30px) rotateX(30deg);
    }
    to{
        opacity: 1;
        transform: translateY(0px) rotateX(0deg);
    }

}

@keyframes rotate-in{
    from{
        opacity: 0;
        transform: rotate(-30deg) scale(0);
    }
    to{
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }

}

.animate-pulse{
    animation: pulse infinite 2s ease-in-out alternate;
}

@keyframes pulse{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}


.animate-blink-alt{
    animation: blink-alt 2s steps(1,end) infinite;
}

@keyframes blink-alt {
    0%, 50%{
        opacity: 0;
    }
    25%, 75%{
        opacity: 1;
    }
}