.animation--popup{
    animation: popup 0.7s ease;
}

@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(30px) rotateX(30deg);
    }
    to{
        opacity: 1;
        transform: translateY(0px) rotateX(0deg);
    }

}