
/* SIDEBAR STYLE */
.sidebar{
    position:fixed;
    top: 0;
    background-color: var(--color-background-dark);
    color: var(--text-color-main);
    height: 100vh;
    width: 300px;
    z-index: 2;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    padding: var(--spce-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* var this */
    font-size: clamp(1.1rem, 5vw, 1.5rem);
    box-shadow: 5px 0px 15px -1px #000000;
    transform: translate(-100%);
    transition: transform 0.2s ease-in-out;
}

.sidebar--open{
    transform: translate(0%);
}

.sidebar--close{
    transform: translate(-100%);
}


.sidebar__button--open{
    display: none;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding:0 var(--spce-sm) var(--spce-xsm)var(--spce-sm);
    border-bottom: solid var(--border-base) var(--color-highlight);
}

.sidebar__links{
    display: flex;
    margin-top: var(--spce-sm);
    flex-direction: column;
    gap: var(--spce-lg);
}
.sidebar__links ul, a{
    list-style: none;
    text-decoration: none;
    color: var(--text-color-main);
    padding: var(--spce-xsm);
    width: 100%;
    /* font-size: var(--text-size-lg); */
}

.sidebar__links > ul {
    padding-left: var(--spce-med);
    display: flex;
    flex-direction: column;
    gap: var(--spce-xsm);
}

.sidebar li{
    transition: transform 0.1 ease-out;
}

.sidebar li:hover{
    transform: scale(1.1);
    outline: solid var(--border-base) var(--color-highlight);
    border-radius: var(--radius-med);
}

.sidebar li{
    display: flex;
}


.sidebar__dropdown{
    padding-left: var(--spce-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spce-xsm);
}

.sidebar__dropdown__button{
    border: none;
    background-color: transparent;
    color: var(--text-color-main);
}

.sidebar__bottom{
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.sidebar__bottom button{
    border: none;
    background-color: transparent;
}

.sidebar__button{
    border: none;
    background-color: transparent;
    color: var(--text-color-main);
}

.selected{
    /* transform: translateY(10px); */
    scale: 1.1;
    background-color: var(--color-highlight);
}


/* NAVBAR STYLES */
.navigation__container{
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar{
    max-width: 100vw;
    top: 0;
    background-color: black;
    color: var(--text-color-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--pad-lg);
    height: var(--nav-height);
    box-shadow: 0px 0px 500px 50px rgba(4, 255, 0, 0.447);
    z-index: 1;
}

.navbar__links{
    list-style-type: none;
    display: flex;
    gap: var(--spce-lg);
}

.navbar__link a{
    color: var(--text-color-secondary);
    text-decoration: none;
}

.navbar__link{
    transition: transform 0.3s ease;
}

.navbar__link:hover {
    transform: scale(1.1);
}
.navbar__link:active{
    transform: scale(0.9);
}

.svg{
    height: 2.2rem;
}

@media (max-width: 768px){
    .sidebar__button--open{
        display: inline;
        background-color: transparent;
        border: none;
    }
}

@media (max-width: 768px){
    .navbar{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .navbar__right{
        display: none;
    }
}
