
.footer__container{
    /* height: 300px; */
    padding: var(--spce-lg);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    color: var(--text-color-secondary);
    justify-content: center;
    align-items: center;
}

.footer__main{
    display:flex;
    flex-direction: column;
    gap: var(--spce-med);
}


.footer__logo{
    height: 5rem;
    width: 5rem;
}

.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--spce-sm);
    margin-left: var(--spce-sm);
}

.footer__links a{
    color: var(--text-color-secondary);
}

@media (min-width: 428px){
    .footer__container{
        flex-direction: row;
        justify-content: space-around;
    }

}